{% extends "base_generic.html" %}

{% block content %}
<h3>Список авторов сайта</h3>
  <table><thead><th>Id</th><th>---Имя---</th>
                      <th>Фамилия</th><th></th></thead>

{% if author %}
   {% for author in author.all %}
      <tr>
          <td>{{author.id}}</td>
          <td>{{author.first_name}}</td>
          <td>{{author.second_name}}</td>
          <td><a href="/edit_1/{{author.id}}">Изменить</a>
              <a href="/delete/{{author.id}}">Удалить</a> </td>
      </tr>
   {% endfor %}
{% else %}
   <p>В базе данных нет авторов</p>
{% endif %}
   </table>

<h3>Добавить нового автора книги на сайт</h3>
<form method="POST" action="/create/">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Сохранить">
</form>
{% endblock %}